<?xml version="1.0"?>
<config>
    <modules>
        <Aoe_Layout>
            <version>0.1.0</version>
        </Aoe_Layout>
    </modules>
    <global>
        <models>
            <aoe_layout>
                <class>Aoe_Layout_Model</class>
                <resourceModel>aoe_layout_resource</resourceModel>
            </aoe_layout>
            <aoe_layout_resource>
                <class>Aoe_Layout_Model_Resource</class>
                <entities>
                    <layout>
                        <table>aoe_layout</table>
                    </layout>
                    <layout_update>
                        <table>aoe_layout_update</table>
                    </layout_update>
                </entities>
            </aoe_layout_resource>
        </models>
        <resources>
            <aoe_layout_setup>
                <setup>
                    <module>Aoe_Layout</module>
                    <class>Aoe_Layout_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aoe_layout_setup>
            <aoe_layout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aoe_layout_write>
            <aoe_layout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aoe_layout_read>
        </resources>
        <helpers>
            <aoe_layout>
                <class>Aoe_Layout_Helper</class>
            </aoe_layout>
        </helpers>
        <blocks>
            <aoe_layout>
                <class>Aoe_Layout_Block</class>
            </aoe_layout>
        </blocks>
        <layout>
            <related_cache_types>
                <block_html/>
                <layout/>
            </related_cache_types>
        </layout>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <aoe_layout before="Mage_Adminhtml">Aoe_Layout_Adminhtml</aoe_layout>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <aoe_layout>
                    <file>aoe_layout/layout.xml</file>
                </aoe_layout>
            </updates>
        </layout>
        <translate>
            <modules>
                <Aoe_Layout>
                    <files>
                        <default>Aoe_Layout.csv</default>
                    </files>
                </Aoe_Layout>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <aoe_layout_update_enable_disable>
                <schedule>
                    <cron_expr>1 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>aoe_layout/observer::scheduledLayoutUpdate</model>
                </run>
            </aoe_layout_update_enable_disable>
        </jobs>
    </crontab>
    <default>
        <aoelayout>
            <general>
                <enabled>1</enabled>
                <cron_job_enabled>1</cron_job_enabled>
            </general>
        </aoelayout>
    </default>
</config>
