<?xml version="1.0"?>
<config>
    <modules>
        <Aoe_LayoutManager>
            <version>0.2.0</version>
        </Aoe_LayoutManager>
    </modules>
    <global>
        <models>
            <aoe_layoutmanager>
                <class>Aoe_LayoutManager_Model</class>
                <resourceModel>aoe_layoutmanager_resource</resourceModel>
            </aoe_layoutmanager>
            <aoe_layoutmanager_resource>
                <class>Aoe_LayoutManager_Model_Resource</class>
            </aoe_layoutmanager_resource>
            <core>
                <rewrite>
                    <layout_update>Aoe_LayoutManager_Model_Layout_Update</layout_update>
                </rewrite>
            </core>
            <core_resource>
                <rewrite>
                    <layout>Aoe_LayoutManager_Model_Resource_Layout</layout>
                </rewrite>
            </core_resource>
        </models>
        <resources>
            <aoe_layoutmanager_setup>
                <setup>
                    <module>Aoe_LayoutManager</module>
                    <class>Aoe_LayoutManager_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aoe_layoutmanager_setup>
            <aoe_layoutmanager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aoe_layoutmanager_write>
            <aoe_layoutmanager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aoe_layoutmanager_read>
        </resources>
        <helpers>
            <aoe_layoutmanager>
                <class>Aoe_LayoutManager_Helper</class>
            </aoe_layoutmanager>
        </helpers>
        <blocks>
            <aoe_layoutmanager>
                <class>Aoe_LayoutManager_Block</class>
            </aoe_layoutmanager>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <aoe_layoutmanager before="Mage_Adminhtml">Aoe_LayoutManager_Adminhtml</aoe_layoutmanager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <aoe_layoutmanager>
                    <file>aoe_layoutmanager/layout.xml</file>
                </aoe_layoutmanager>
            </updates>
        </layout>
        <translate>
            <modules>
                <Aoe_LayoutManager>
                    <files>
                        <default>Aoe_LayoutManager.csv</default>
                    </files>
                </Aoe_LayoutManager>
            </modules>
        </translate>
    </adminhtml>
</config>
